{
  "presets": [
    "@babel/react",
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "8.9.0"
        }
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties"
  ]
}
